<style>
.row > div {
	padding: 10px;
}
</style>
<div class="container-fluid">
<div class="row">
	<div class="col-md-12">
		<div id="dashboard_cpu" class="datagraph cpu" style="width: calc(100% - 150px); height: 340px"><!-- Nothing --></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12">
		<div id="dashboard_memory" class="datagraph memory" style="width: calc(100% - 150px); height: 340px"><!-- Nothing --></div>
	</div>
</div>
<div class="row">
	<div class="col-md-12 datagraph stats">
		<div id="dashboard_stats_commit" style="width: calc(100% - 150px); height: 150px;"></div>
		<div id="dashboard_stats_rollback" style="width: calc(100% - 150px); height: 150px; margin-top: 20px"></div>
		<div id="dashboard_stats_blksread" style="width: calc(100% - 150px); height: 150px; margin-top: 20px"></div>
		<div id="dashboard_stats_blkshit" style="width: calc(100% - 150px); height: 150px; margin-top: 20px"></div>
		<div id="dashboard_stats_tupreturned" style="width: calc(100% - 150px); height: 150px; margin-top: 20px"></div>
		<div id="dashboard_stats_tupfetched" style="width: calc(100% - 150px); height: 150px; margin-top: 20px"></div>
		<div id="dashboard_stats_tupinserted" style="width: calc(100% - 150px); height: 150px; margin-top: 20px"></div>
		<div id="dashboard_stats_tupupdated" style="width: calc(100% - 150px); height: 150px; margin-top: 20px"></div>
		<div id="dashboard_stats_tupdeleted" style="width: calc(100% - 150px); height: 150px; margin-top: 20px"></div>
	</div>
</div>
<div class="row">
	<div id="dashboard_stats_table" class="col-md-12 datatable stats" >
		<cas10-table title="tableStats.title" matrix="tableStats.matrixData"/>
	</div>
</div>
<div class="row">
	<div id="dashboard_cache_table" class="col-md-6 datatable cache" >
		<cas10-table title="tableCache.title" matrix="tableCache.matrixData"/>
	</div>
	<div class="col-md-6 datatable" ><!-- Nothing --></div>
</div>
<div class="row">
	<div id="dashboard_topsql" class="col-md-12 datatable topsql">
		<cas10-table matrix="tableTopSQL.matrixData">
			<button class="btn btn-primary pull-left" ng-click="refreshTopSql()"><i class="glyphicon glyphicon-refresh"></i> Refresh</button> {{tableTopSQL.title}} <button class="btn pull-right" ng-click="resetTopSql()"><i class="glyphicon glyphicon-trash"></i> Reset</button>
		</cas10-table>
	</div>
</div>
</div>