<div class="container-fluid">
	<div class="row">
		<div class="col-md-7">
			<cas10-table title="'Table Sizes'" matrix="relations" row-selected="selectTableRow" />
		</div>
		<div class="col-md-5">
			<h3>{{database}}</h3>
			<h2>{{size}}</h2>
			<div id="history">
				<!-- nothing -->
			</div>
			<h3>{{selected.name}}</h3>
			<div class="panel panel-default" ng-if="selected.indexes.length > 0">
				<div class="panel-heading">
					<h3 class="panel-title">Indexes</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="i in selected.indexes track by $index" style="overflow-x: hidden;">
							<span class="badge">{{i.size}}</span>
							<h4>{{i.name}} <small>
								<span ng-if="i.primaryKey">Primary Key</span>
								<span ng-if="!i.primaryKey && i.unique">Unique</span>
							</small></h4> 
						</li>
					</ul>
				</div>
			</div>
			<div class="panel panel-default" ng-if="selected.toasts.length > 0">
				<div class="panel-heading">
					<h3 class="panel-title">TOASTS</h3>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item" ng-repeat-start="t in selected.toasts track by $index">
							<span class="badge">{{t.toastSize}}</span>
							<h4>{{t.toast}}</h4> 
						</li>
						<li class="list-group-item" ng-repeat-end>
							<span class="badge">{{t.toastIndexSize}}</span>
							<h4>{{t.toastIndex}}</h4> 
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>